[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
nltk = "*"
jupyter = "*"
pylint = "*"
mypy = "*"
seaborn = "*"
python-levenshtein = "*"
requests = "*"
networkx = "*"
elasticsearch = "<7.*"
gensim = "*"
scikit-learn = "*"
pprint = "*"
fasttext = {git = "https://github.com/facebookresearch/fastText.git"}
torch = {path = "./../torch-1.1.0-cp37-cp37m-linux_x86_64.whl"}
torchvision = "*"
flair = "*"
pika = "*"
bs4 = "*"

[requires]
python_version = "3.7"
